.project p{
  font-family: sans-serif;
}
body{
  background-color: blue;
  background-image: url(../images/bird.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}


/* .about, img {
  float: left;
} */

img, .project, .about {
  float: left;
}

.about, .project {
  margin-left: 100px;
}

.about {
  width: 50%;
}
