.project p{
  font-family: sans-serif;
}
body{
  background-color: blue;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

/* .about, img {
  float: left;
} */

.about {
  float: left;
  width: 50%;
}

.project {
  float:left;
}
